<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <perfect-scrollbar [scrollIndicators]="false">
      <div id="sidebar-menu" class="sidebar-menu">
        <ul>
          <li class="menu-title">
            <span>Main Menu</span>
          </li>
          <li [ngClass]="[activeRoute === 'dashboard' ? 'active' : 'submenu']">
            <a
              [ngClass]="[activeRoute === 'dashboard' ? 'active' : '']"
              (click)="setActive()"
              ><i class="fas fa-th-large"></i> <span> Dashboard</span>
              <span class="menu-arrow"></span
            ></a>
            <ul>
              <li>
                <a
                  (click)="setActive()"
                  routerLink="/layout/dashboard/dashboard-main"
                  routerLinkActive="active"
                  >Admin Dashboard</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/dashboard/dashboard-teacher"
                  >Teacher Dashboard</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/dashboard/dashboard-student"
                  >Student Dashboard</a
                >
              </li>
            </ul>
          </li>
          <!-- <li [ngClass]="[activeRoute === 'dashboard' ? 'active' : '']">
            <a routerLink="/dashboard/dashboard-main" (click)="setActive()"
              ><i class="fas fa-th-large"></i> <span>Dashboard</span></a
            >
          </li>

          Student Dashboard -->
          <li class="submenu"
            [class.active] = "base === 'students' ||
                      base === 'students' && page === 'students-list' ||
                      base === 'students' && page === 'students-details' ||
                      base === 'students' && page === 'students-add' || 
                      base === 'students' && page === 'students-edit' ||
                      base === 'students' && page === 'students-grid'
              ">
            <a href="#"><i class="fas fa-graduation-cap"></i> <span> Students</span> 
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li>
                <a [routerLink]="'/layout/students/students-list'"
                  [class.active] = "base === 'students' && page === 'students-list' ||
                  base === 'students' && page === 'students-grid'
                  ">Student List
                </a>
              </li>
              <li>
                <a [routerLink]="'/layout/students/students-details'"
                    [class.active] = "base === 'students' && page === 'students-details'
                    ">Student View
                  </a>
                </li>
              <li>
                <a [routerLink]="'/layout/students/students-add'"
                  [class.active] = "base === 'students' && page === 'students-add'
                  ">Student Add</a></li>
              <li>
                <a [routerLink]="'/layout/students/students-edit'"
                    [class.active] = "base === 'students' && page === 'students-edit'"
                    >Student Edit
                </a>
              </li>
            </ul>
          </li>
          <li [ngClass]="[activeRoute === 'teachers' ? 'active' : 'submenu']">
            <a
              href="javascript:void(0);"
              [ngClass]="[activeRoute === 'teachers' ? 'active' : '']"
              (click)="setActive()"
              ><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span>
              <span class="menu-arrow"></span
            ></a>
            <ul>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/teachers/teachers-list"
                  >Teacher List</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/teachers/teachers-details"
                  >Teacher View</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/teachers/teachers-add"
                  >Teacher Add</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/teachers/teachers-edit"
                  >Teacher Edit</a
                >
              </li>
            </ul>
          </li>
          <li
            [ngClass]="[activeRoute === 'departments' ? 'active' : 'submenu']"
          >
            <a
              href="javascript:void(0);"
              [ngClass]="[activeRoute === 'departments' ? 'active' : '']"
              (click)="setActive()"
              ><i class="fas fa-building"></i> <span> Departments</span>
              <span class="menu-arrow"></span
            ></a>
            <ul>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/departments/departments-list"
                  >Department List</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/departments/departments-add"
                  >Department Add</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/departments/departments-edit"
                  >Department Edit</a
                >
              </li>
            </ul>
          </li>
          <li [ngClass]="[activeRoute === 'subjects' ? 'active' : 'submenu']">
            <a
              href="javascript:void(0);"
              [ngClass]="[activeRoute === 'subjects' ? 'active' : '']"
              (click)="setActive()"
              ><i class="fas fa-book-reader"></i> <span> Subjects</span>
              <span class="menu-arrow"></span
            ></a>
            <ul>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/subjects/subjects-list"
                  >Subject List</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/subjects/subjects-add"
                  >Subject Add</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/subjects/subjects-edit"
                  >Subject Edit</a
                >
              </li>
            </ul>
          </li>
          <li [ngClass]="[activeRoute === 'invoices' ? 'active' : 'submenu']">
            <a
              href="javascript:void(0);"
              [ngClass]="[activeRoute === 'invoices' ? 'active' : '']"
              (click)="setActive()"
              ><i class="fas fa-clipboard"></i> <span> Invoices</span>
              <span class="menu-arrow"></span
            ></a>
            <ul>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/invoices/invoices-list"
                  >Invoices List</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/invoices/invoices-grid"
                  >Invoices Grid</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/invoices/add-invoice"
                  >Add Invoices</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/invoices/edit-invoice"
                  >Edit Invoices</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/invoices/view-invoice"
                  >Invoices Details</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/invoices/invoices-settings"
                  >Invoices Settings</a
                >
              </li>
            </ul>
          </li>

          <li class="menu-title">
            <span>Management</span>
          </li>

          <li [ngClass]="[activeRoute === 'accounts' ? 'active' : 'submenu']">
            <a
              href="javascript:void(0);"
              [ngClass]="[activeRoute === 'accounts' ? 'active' : '']"
              (click)="setActive()"
              ><i class="fas fa-file-invoice-dollar"></i>
              <span> Accounts</span> <span class="menu-arrow"></span
            ></a>
            <ul>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/accounts/fees-collection"
                  >Fees Collection</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/accounts/expenses"
                  >Expenses</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/accounts/salary"
                  >Salary</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/accounts/add-fees"
                  >Add Fees</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/accounts/add-expenses"
                  >Add Expenses</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/accounts/add-salary"
                  >Add Salary</a
                >
              </li>
            </ul>
          </li>
          <li [class.active] = "
              base === 'holiday' && page === 'holiday-main' ||
              base === 'holiday' && page === 'holiday-add'"
              > 
            <a [routerLink]="'/layout/holiday/holiday-main'" [class.active] = "base === 'holiday' && page === 'holiday-main' ||
            base === 'holiday' && page === 'holiday-add'
            "><i class="fas fa-holly-berry"></i> <span>Holiday</span></a>
          </li>
          <li [class.active] = "
              base === 'fees' && page === 'fees-main' ||
              base === 'fees' && page === 'fees-add' ||
              base === 'fees' && page === 'fees-edit'"> 
            <a  [routerLink]="'/layout/fees/fees-main'" [class.active] = "base === 'fees' && page === 'fees-main' ||
            base === 'fees' && page === 'fees-add' ||
            base === 'fees' && page === 'fees-edit'
            "><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
          </li>
          <li [class.active] = "
              base === 'examlist' && page === 'examlist-main' ||
              base === 'examlist' && page === 'examlist-add' ||
              base === 'examlist' && page === 'examlist-edit'"> 
            <a  [routerLink]="'/layout/examlist/examlist-main'" [class.active] = "base === 'examlist' && page === 'examlist-main' ||
            base === 'examlist' && page === 'examlist-add' ||
            base === 'examlist' && page === 'examlist-edit'
            "><i class="fas fa-clipboard-list"></i> <span>Exam list</span></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/layout/events/events-main" (click)="setActive()"
              ><i class="fas fa-calendar-day"></i> <span>Events</span></a
            >
          </li>
          <li [class.active] = "
            base === 'timetable' && page === 'timetable-main' ||
            base === 'timetable' && page === 'timetable-add' ||
            base === 'timetable' && page === 'timetable-edit'"> 
            <a  [routerLink]="'/layout/timetable/timetable-main'" [class.active] = "base === 'timetable' && page === 'timetable-main' ||
            base === 'timetable' && page === 'timetable-add' ||
            base === 'timetable' && page === 'timetable-edit'
            "><i class="fas fa-clipboard-list"></i> <span>Time Table</span></a>
          </li>
          <li [class.active] = "
            base === 'library' && page === 'library-main' ||
            base === 'library' && page === 'library-add' ||
            base === 'library' && page === 'library-edit'"> 
            <a  [routerLink]="'/layout/library/library-main'" [class.active] = "base === 'library' && page === 'library-main' ||
            base === 'library' && page === 'library-add' ||
            base === 'library' && page === 'library-edit'
            "><i class="fas fa-clipboard-list"></i> <span>Library</span></a>
          </li>
          <li class="submenu"
            [class.active] = "base === 'blog' ||
                    base === 'blog' && page === 'all-blog' ||
                    base === 'blog' && page === 'add-blog' ||
                    base === 'blog' && page === 'edit-blog' 
            ">
            <a href="#"><i class="fa fa-newspaper"></i> <span> Blogs</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li>
                <a [routerLink]="'/layout/blog/all-blog'"
                  [class.active] = "base === 'blog' && page === 'all-blog' ||
                            base === 'blog' && page === 'pending-blog'||
                            base === 'blog' && page === 'blog-details'
                              ">
                  All Blogs
                </a>
              </li>
              <li>
                <a 
                [routerLink]="'/layout/blog/add-blog'"
                [class.active] = "base === 'blog' && page === 'add-blog'">
                Add Blog
                </a>
              </li>
              <li>
                <a [routerLink]="'/layout/blog/edit-blog'"
                  [class.active] = "base === 'blog' && page === 'edit-blog'">
                  Edit Blog
                </a>
              </li>
            </ul>
				  </li>
          <li routerLinkActive="active">
            <a routerLink="/layout/settings/general-settings" (click)="setActive()"
              ><i class="fas fa-cog"></i> <span>Settings</span></a
            >
          </li>

          <li class="menu-title">
            <span>Pages</span>
          </li>

          <li [ngClass]="[activeRoute === 'login' ? 'active' : 'submenu']">
            <a
              href="javascript:void(0);"
              [ngClass]="[activeRoute === 'login' ? 'active' : '']"
              (click)="setActive()"
              ><i class="fas fa-shield-alt"></i> <span> Authentication </span>
              <span class="menu-arrow"></span
            ></a>
            <ul>
              <li routerLinkActive="active">
                <a routerLink="/login" (click)="setActive()">Login</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/register" (click)="setActive()">Register</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/forgotpassword" (click)="setActive()"
                  >Forgot Password</a
                >
              </li>
              <li routerLinkActive="active">
                <a routerLink="/errorpage" (click)="setActive()">Error Page</a>
              </li>
            </ul>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/layout/blankpage/blankpage-main" (click)="setActive()"
              ><i class="fas fa-file"></i> <span>Blank Page</span></a
            >
          </li>

          <li class="menu-title">
            <span>Others</span>
          </li>
          <li [class.active] = "
            base === 'sports' && page === 'sports-main' ||
            base === 'sports' && page === 'sports-add' ||
            base === 'sports' && page === 'sports-edit'"> 
            <a  [routerLink]="'/layout/sports/sports-main'" [class.active] = "base === 'sports' && page === 'sports-main' ||
            base === 'sports' && page === 'sports-add' ||
            base === 'sports' && page === 'sports-edit'
            "><i class="fas fa-clipboard-list"></i> <span>Sports</span></a>
          </li>
          <li [class.active] = "
            base === 'hostel' && page === 'hostel-main' ||
            base === 'hostel' && page === 'hostel-add' ||
            base === 'hostel' && page === 'hostel-edit'"> 
            <a  [routerLink]="'/layout/hostel/hostel-main'" [class.active] = "base === 'hostel' && page === 'hostel-main' ||
            base === 'hostel' && page === 'hostel-add' ||
            base === 'hostel' && page === 'hostel-edit'
            "><i class="fas fa-hotel"></i> <span>Hostel</span></a>
          </li>
          <li [class.active] = "
            base === 'transport' && page === 'transport-main' ||
            base === 'transport' && page === 'transport-add' ||
            base === 'transport' && page === 'transport-edit'"> 
            <a  [routerLink]="'/layout/transport/transport-main'" [class.active] = "base === 'transport' && page === 'transport-main' ||
            base === 'transport' && page === 'transport-add' ||
            base === 'transport' && page === 'transport-edit'
            "><i class="fas fa-bus"></i> <span>Transport</span></a>
          </li>
          <li class="menu-title">
            <span>UI Interface</span>
          </li>
              
          <li [ngClass]="[activeRoute === 'base-ui' ? 'active' : 'submenu']">
            <a 
              href="javascript:void(0);"
              [ngClass]="[activeRoute === 'base-ui' ? 'active' : '']"
              (click)="setActive()"
            ><i class="fab fa-get-pocket"></i> <span>Base UI </span> <span class="menu-arrow"></span></a>
              <ul>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/alerts"
                  >Alerts</a>
                </li>                                    
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/accordions"
                  >Accordions</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/avatar"
                  >Avatar</a>
                </li> 
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/badges"
                  >Badges</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/buttons"
                  >Buttons</a>
                </li>   
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/button-group"
                  >Button Group</a>
                </li>                                  
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/breadcrumb"
                  >Breadcrumb</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/cards"
                  >Cards</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/carousel"
                  >Carousel</a>
                </li>                                   
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/dropdowns"
                  >Dropdowns</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/grid"
                  >Grid</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/images"
                  >Images</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/lightbox"
                  >Lightbox</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/media"
                  >Media</a>
                </li>                              
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/modals"
                  >Modals</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/offcanvas"
                  >Offcanvas</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/pagination"
                  >Pagination</a>
                </li>                                 
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/progress-bars"
                  >Progress Bars</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/placeholders"
                  >Placeholders</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/range-slider"
                  >Range Slider</a>
                </li>                                    
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/spinner"
                  >Spinner</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/sweetalerts"
                  >Sweet Alerts</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/tabs"
                  >Tabs</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/toasts"
                  >Toasts</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/tooltip"
                  >Tooltip</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/typography"
                  >Typography</a>
                </li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/base-ui/video"
                  >Video</a>
                </li>
              </ul>
          </li>
          <li [ngClass]="[activeRoute === 'elements' ? 'active' : 'submenu']">
            <a href="javascript:void(0);"
            [ngClass]="[activeRoute === 'elements' ? 'active' : '']"
            (click)="setActive()"><i class="fas fa-box"></i> <span>Elements </span> <span class="menu-arrow"></span></a>
            <ul>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/elements/ribbon">Ribbon</a></li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/elements/clipboards">Clipboard</a></li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/elements/drap-drop">Drag & Drop</a></li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/elements/rating">Rating</a></li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/elements/text-editor">Text Editor</a></li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/elements/counter">Counter</a></li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/elements/scrollbar">Scrollbar</a></li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/elements/notification">Notification</a></li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/elements/sticky-note">Sticky Note</a></li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/elements/timeline">Timeline</a></li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/elements/horizontal">Horizontal Timeline</a></li>
                <li><a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/elements/form-wizard">Form Wizard</a></li>
            </ul>
        </li>
          <li [ngClass]="[activeRoute === 'charts' ? 'active' : 'submenu']">
            <a href="javascript:void(0);"
                [ngClass]="[activeRoute === 'charts' ? 'active' : '']"
                (click)="setActive()"
            ><i class="fas fa-chart-bar"></i> <span> Charts </span> <span class="menu-arrow"></span></a>
            <ul>
              <li>
                <a routerLinkActive="active"
                    (click)="setActive()"
                    routerLink="/layout/charts/apexcharts">Apex Charts</a>
              </li>
              <li>
                <a routerLinkActive="active"
                      (click)="setActive()"
                    routerLink="/layout/charts/chartjs">Chart Js</a>
              </li>
              <li>
                <a routerLinkActive="active"
                    (click)="setActive()"
                    routerLink="/layout/charts/morrischarts">Morris Charts</a>
              </li>
              <li>
                <a routerLinkActive="active"
                    (click)="setActive()"
                    routerLink="/layout/charts/flotcharts">Flot Charts</a>
              </li>
              <li><a routerLinkActive="active"
                (click)="setActive()"
                routerLink="/layout/charts/peitycharts">Peity Charts</a>
              </li>
              <li><a routerLinkActive="active"
                (click)="setActive()"
                routerLink="/layout/charts/c3charts">C3 Charts</a>
              </li>
            </ul>
          </li>
          <li [ngClass]="[activeRoute === 'icons' ? 'active' : 'submenu']">
            <a href="javascript:void(0);"
              [ngClass]="[activeRoute === 'icons' ? 'active' : '']"
              (click)="setActive()"
              ><i class="fas fa-award"></i> <span> Icons </span> <span class="menu-arrow"></span>
            </a>
            <ul>
              <li>
                <a routerLinkActive="active"
                   (click)="setActive()"
                   routerLink="/layout/icons/fontawesome">Fontawesome Icons
                </a>
              </li>
              <li>
                <a routerLinkActive="active"
                    (click)="setActive()"
                    routerLink="/layout/icons/feather">Feather Icons
                  </a>
                </li>
              <li>
                <a routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/icons/ionic">Ionic Icons
                </a>
              </li>
              <li>
                <a routerLinkActive="active"
                (click)="setActive()"
                routerLink="/layout/icons/material">Material Icons
              </a></li>
              <li><a routerLinkActive="active"
                (click)="setActive()"
                routerLink="/layout/icons/pe7">Pe7 Icons</a></li>
              <li><a routerLinkActive="active"
                (click)="setActive()"
                routerLink="/layout/icons/simpleline">Simpleline Icons</a></li>
              <li><a routerLinkActive="active"
                (click)="setActive()"
                routerLink="/layout/icons/themify">Themify Icons</a></li>
              <li><a routerLinkActive="active"
                (click)="setActive()"
                routerLink="/layout/icons/weather">Weather Icons</a></li>
              <li><a routerLinkActive="active"
                (click)="setActive()"
                routerLink="/layout/icons/typicon">Typicon Icons</a></li>
              <li><a routerLinkActive="active"
                (click)="setActive()"
                routerLink="/layout/icons/flag">Flag Icons</a></li>
            </ul>
          </li>
          <li [ngClass]="[activeRoute === 'forms' ? 'active' : 'submenu']">
            <a
              href="javascript:void(0);"
              [ngClass]="[activeRoute === 'forms' ? 'active' : '']"
              (click)="setActive()"
              ><i class="fas fa-columns"></i> <span> Forms </span>
              <span class="menu-arrow"></span
            ></a>
            <ul>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/forms/basicinputs"
                  >Basic Inputs
                </a>
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/forms/inputgroups"
                  >Input Groups
                </a>
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/forms/horizontalform"
                  >Horizontal Form
                </a>
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/forms/verticalform"
                >
                  Vertical Form
                </a>
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/forms/formmask"
                >
                  Form Mask
                </a>
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/forms/formvalidation"
                >
                  Form Validation
                </a>
              </li>
            </ul>
          </li>
          <li [ngClass]="[activeRoute === 'tables' ? 'active' : 'submenu']">
            <a
              href="javascript:void(0);"
              [ngClass]="[activeRoute === 'tables' ? 'active' : '']"
              (click)="setActive()"
              ><i class="fas fa-table"></i> <span> Tables </span>
              <span class="menu-arrow"></span
            ></a>
            <ul>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/tables/basictables"
                  >Basic Tables
                </a>
              </li>
              <li>
                <a
                  routerLinkActive="active"
                  (click)="setActive()"
                  routerLink="/layout/tables/datatables"
                  >Data Table
                </a>
              </li>
            </ul>
          </li>
          <li class="submenu">
            <a href="javascript:void(0);"
              ><i class="fas fa-code"></i> <span>Multi Level</span>
              <span class="menu-arrow"></span
            ></a>
            <ul>
              <li class="submenu">
                <a href="javascript:void(0);">
                  <span>Level 1</span> <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li>
                    <a href="javascript:void(0);"><span>Level 2</span></a>
                  </li>
                  <li class="submenu">
                    <a href="javascript:void(0);">
                      <span> Level 2</span> <span class="menu-arrow"></span
                    ></a>
                    <ul>
                      <li><a href="javascript:void(0);">Level 3</a></li>
                      <li><a href="javascript:void(0);">Level 3</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="javascript:void(0);"> <span>Level 2</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);"> <span>Level 1</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>
</div>
<!-- /Sidebar -->
